<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Beer Recommendation</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="../../Content/css/styles.css">
  </head>
  <body>
    <div class="container">
      <div class="page-header">
        @if (Request.Cookies.ContainsKey("userId"))
        {
          <p><a href="/users/profile">View Profile</a> | <a href="/logout">Log Out</a></p>
        }
        else
        {
          <p><a href="/login">Log In</a></p>
        }
        <h1>Beer Recommendations</h1>
      </div>
      @RenderBody()
    </div>
  </body>
</html>
