@{
	Layout = "Shared/_Layout.cshtml";
}
<h2>Get Recommended Beers</h2>
<form action="/test/result" method="post">
  <select class="form-control" name="beer-id">
    @foreach (var beer in Model["beers"])
    {
      <option value="@beer.GetId()">@beer.GetName() -
      <strong>Brewery(ies):</strong>
      @foreach (var brewery in beer.GetBreweries())
      {
        <span> @brewery.GetName()</span>
      }</option>
    }
  </select>
  <button type="submit" class="btn">Get Recommendations</button>
</form>
