@{
	Layout = "Shared/_Layout.cshtml";
}
<div class="form">
	<form action="/beers/search" method="post">
    <label for="search-input">Search for Beer</label>
    <input class="form-control" type="text" name="search-input">
    @* <label>Search By</Label> *@
      <label class="radio-inline">
        <input type="radio" name="search-type" value="name" checked>Name</Label>
      <label class="radio-inline">
        <input type="radio" name="search-type" value="brewery">Brewery</Label>
      <label class="radio-inline">
        <input type="radio" name="search-type" value="abv">ABV</Label>
      <label class="radio-inline">
        <input type="radio" name="search-type" value="ibu">IBU</Label>
      <br>
    <button class="btn btn-warning" type="submit">Search</button>
	</form>
	<h3>Here is your list of beers</h3>
		<div class="row">
			<div class="col-md-12">
		  @foreach (var beer in Model)
		  {
		    <div class="row">
					<div class="col-md-12">
			      <p><a href="/beers/@beer.GetId()">@beer.GetName()</a></p>
					</div>
		    </div>
		  }
		</div>
	</div>
</div>
