@{
	Layout = "Shared/_Layout.cshtml";
}
<div class="form">
	<h3>Here is your list of beers</h3>
  @foreach (var beer in Model)
  {
    <div class="row">
      <p><a href="/beers/@beer.GetId()">@beer.GetName()</a></p>
    </div>
  }
</div>
