@{
	Layout = "Shared/_Layout.cshtml";
}
<div class="container">
	<a class="btn btn-warning" href="/">Home</a>
</div>
<div class="form">
	<h3>Here is your list of breweries</h3>
  @foreach (var beer in Model)
  {
    <div class="row">
      <p><a href="/beers/@beer.GetId()">@beer.GetName()</a></p>
    </div>
  }
</div>
