@{
	Layout = "Shared/_Layout.cshtml";
}
<div class="row">
  <div class="well">
    @foreach (var beer in Model)
    {
      <div class="row">
        <p><a href="/beer/@beer.GetId()">@beer.GetName()</a></p>
      </div>
    }
  </div>
</div>
