@{
	Layout = "Shared/_Layout.cshtml";
}
<div>
  <h2>@Model.GetName()</h2>
  <!-- <form action="/recommend/results" method="get">
  	<input type="hidden" name="beer-id" value="@Model.GetId()">
	<button class="btn btn-warning" type="submit">Get similar beers</button>
  </form> -->
  <a class="btn btn-warning" href="/">Home</a>
</div>
