@{
	Layout = "Shared/_Layout.cshtml";
}
<div class="body">
	<div class="nav-column">
		<h5><a href="/recommend">Get new beers to try</a></h5><br>
		<a href="/users/new">Create a new user account</a><br>
		<a href="/beers">Browse our beer database</a><br>
		<a href="/breweries">Browse our brewery database</a><br>
	</div>
</div>
