@{
	Layout = "Shared/_Layout.cshtml";
}
<div class="form">
	<form action="/breweries/new/success" method="post">
	  <input class="form-control" type="text" name="name" placeholder="Brewery Name" required>
		<label for="location">Location:</label>
	  <input class="form-control" type="text" name="location" placeholder="Location" required>
		<br>
	  <button class="btn btn-warning" type="submit">Add Brewery</button>
		<a class="btn btn-warning" href="/">Home</a>
	</form>
</div>
