@{
	Layout = "Shared/_Layout.cshtml";
}
<h2>Recommended Beers</h2>
<ul>
  @foreach (var beer in Model)
  {
    <li>
    <a href="/beers/@beer.GetId()">@beer.GetName()</a> -
    Brewery(ies):
    @foreach (var brewery in beer.GetBreweries())
    {
      <a href="/breweries/@brewery.GetId()"> @brewery.GetName()</a></span>
    }</li>
  }
</ul>
<a class="btn btn-warning" href="/">Home</a>
