@{
	Layout = "Shared/_Layout.cshtml";
	var ratedBeers = @Model.GetRated();
}
<div>
	<h2>@Model.GetName()</h2>
	@if (ratedBeers.Keys.Count > 0)
	{
		<h3>Rated beers</h3>
		@foreach (var beerRating in ratedBeers)
		{
			<p>@beerRating[0].GetName() - Rating: @beerRating[1] out of 5</p>
		}
	}
	<a class="btn btn-warning" href="/">Home</a>
</div>
