@{
	Layout = "Shared/_Layout.cshtml";
	var ratedBeers = @Model.GetRated();
}
<div class="form">
	<h2>@Model.GetName()</h2>
	@if (ratedBeers.Keys.Count > 0)
	{
		<h3>Rated beers</h3>
		<ul>
		@foreach (var beerId in ratedBeers.Keys)
		{
			<li><h4>@ratedBeers[beerId][0].GetName() - Rating: @ratedBeers[beerId][1] out of 5</h4></li>
		}
		</ul>
	}
</div>
